.container
    width: 100%
    min-height: 100vh
    background: #181818
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 80px

.header
    width: 100%
    .title
        font-family: "Rubik", sans-serif
        font-weight: 500
        font-size: 24px
        letter-spacing: -0.01em
        color: #fff
        margin-bottom: 20px
        text-align: center

.cardWrap
    position: relative
    width: 100%
    display: flex
    justify-content: center
    margin-top: 20px

.category
    position: absolute
    top: -16px
    left: 50%
    transform: translateX(-50%)
    display: flex
    justify-content: center
    align-items: center
    color: #fff

    border-radius: 20px
    padding: 4px 16px
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08)
    z-index: 2
    border: none
    border-radius: 10px
    padding: 4px

    height: 18px
    background: #222
    border: 1px solid #333
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 14px
    line-height: 110%
    letter-spacing: -0.02em
    color: #fff

.card
    width: 95%
    min-height: 100px
    background: #181818
    border-radius: 20px
    border: 1px solid rgba(249,237,50,0.33)
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px
    box-sizing: border-box
    position: relative
    z-index: 1
    margin-bottom: 20px
    gap: 10px

.info
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-self: flex-start
    gap: 10px

.avatar
    width: 64px
    height: 64px
    border-radius: 50%
    object-fit: cover
    flex-shrink: 0
    margin-right: 16px

.content
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    gap: 10px

.titleCard
    font-family: "Rubik", sans-serif
    font-weight: 500
    font-size: 20px
    letter-spacing: -0.01em
    background: linear-gradient(90deg, #f29d4e 0%, #e0524e 42.79%, #af407a 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.infoRow
    display: flex
    align-items: center
    gap: 4px
    margin-bottom: 0

.infoIcon
    width: 18px
    height: 18px
    display: flex
    align-items: center
    justify-content: center

.infoText
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 14px
    line-height: 110%
    letter-spacing: -0.02em
    color: #7c7c7c

.desc
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 14px
    line-height: 110%
    letter-spacing: -0.02em
    color: #fff
